<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-init-method="onInit" default-destroy-method="onDestroy">

    <bean scope="prototype" name="MovieA, MovieB" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>

    <bean id="post" class="com.stackroute.domain.BeanPostProcessorDemoBean"/>
    <bean class="com.stackroute.domain.BeanLifecycleDemoBean"/>

    <bean id="actor"
          class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Emma Watson"/>
        <constructor-arg index="1" value="female"/>
        <constructor-arg index="2" value="21"/>
    </bean>

    <bean id="actor1"
          class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Daniel Radcliffe"/>
        <constructor-arg name="gender" value="male"/>
        <constructor-arg name="age" value="21"/>
    </bean>

    <bean id="actor2"
          class="com.stackroute.domain.Actor">
        <constructor-arg type="java.lang.String" value="Rupert"/>
        <constructor-arg type="java.lang.String" value="female"/>
        <constructor-arg type="int" value="21"/>
    </bean>
</beans>